/* style.css */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #282c35; /* Black background color */
    text-align: center;
    color: #c9cacc; /* Light grey text color */
}

h2 {
    color: #ae63c4; /* Lively purple heading color */
}

/* Container for buttons */
.button-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

button {
    width: 200px; /* Adjust the width as needed */
    background-color: #8a4ea6; /* Lively purple button color */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 15px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6b3a85; /* Darker shade on hover */
}

/* Form styling */
.chat-form {
    display: none;
    text-align: left;
    max-width: 400px;
    margin: 20px auto;
    background-color: #363b44; /* Dark grey form background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #c300ff; /* Lively purple label color */
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #555; /* Dark grey border color */
    border-radius: 6px;
    font-size: 16px;
    color: #c9cacc; /* Light grey text color */
    background-color: #363b44; /* Dark grey input background color */
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 100%;
    }

    input {
        width: 100%;
    }
}
