<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>BlendChat</title>
</head>
<body>
    <h2>Welcome to BlendChat</h2>

    <!-- Join Chat Group Button -->
    <button id="joinChatBtn" onclick="toggleForm('joinChatForm')">Join Group Chat</button>

    <!-- Join Chat Form -->
    <form id="joinChatForm" class="chat-form" onsubmit="joinChat(event)">
    <label for="guestNameJoin">Your Name:</label>
    <input type="text" id="guestNameJoin" name="guestNameJoin" required>

    <label for="groupKeyJoin">Group Key:</label>
    <input type="text" id="groupKeyJoin" name="groupKeyJoin" required>

    <button type="submit">Join Chat</button>
    </form>


    <!-- Create Chat Group Button -->
    <button id="createChatBtn" onclick="toggleForm('createChatForm')">Create Group Chat</button>

    <!-- Create Chat Form -->
    <form id="createChatForm" class="chat-form" onsubmit="createChat(event)">
    <label for="adminNameCreate">Your Name:</label>
    <input type="text" id="adminNameCreate" name="adminNameCreate" required>

    <label for="groupKeyCreate">New Group Key:</label>
    <input type="text" id="groupKeyCreate" name="groupKeyCreate" required>

    <button type="submit">Create Chat</button>
    </form>


    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
